@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-list {
  list-style: none;
  padding-left: 1.5rem;
}

.custom-list li {
  position: relative;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
}

.custom-list li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #BA8288;
}

/* Custom styles */
/* .moving-text-container {
  position: relative;
  overflow: hidden;
} */

/* .gradient-text {
  background: linear-gradient(90deg, #231557, #44107A, #FF1361, #FFF800);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
